.flex{
	display: flex;
}

.flex-jc{
	justify-content: center;
}
.flex-jb{
	justify-content: space-between;
}
.flex-ja{
	justify-content: space-around;
}
.flex-ac{
	align-items: center;
}
.flex-as{
	align-items: flex-start;
}
.flex-ae{
	align-items: flex-end;
}
.flex-dc{
	flex-direction: column;
	
}
.flex-dcr{
	flex-direction: column-reverse;
}
.flex-drr{
	flex-direction: row-reverse;
}
.flex-dr{
	flex-direction: row;
}
.flex-ww{
	flex-wrap: wrap;
}
.flex-wwr{
	flex-wrap: wrap-reverse;
}
.flex-ss{
	align-self: flex-start;
}
.flex-se{
	align-self: flex-end;
}
.flex-sc{
	align-self:center;
}
.flex-g{
	flex-grow: 1;
}
/* .flex-de{
	flex-direction: column-reverse;
} */